.fondo{
	background-image:  url("../imagenes/fondo-1.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
}
.fondo2{
	background-image:  url("../imagenes/vendernatura1.png"); 
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax{
	background-image: url("../imagenes/fondo-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.hola{
	display:flex;
	margin:auto;
	overflow-x:auto;
	scrollbar-width: none;
	padding: 20px;
}
.arriba {
	position: fixed;
	right: 22px;
	text-align: center;
	line-height: 50px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	background-color: rgba(180, 180, 180, .7);
	border-radius: 25px;
	color: #fff;
	vertical-align: middle;
	z-index: 999;
}
@media only screen and (min-width:900px) and (max-width:2000px){
	.aparece{
		display: none;
	}
	.hola .product {
		min-width: 33%;
		transition: .5s;
	}
	
}
@media only screen and (min-width:100px) and (max-width:900px){
	.desaparece{
		display: none;
	}
	.hola .product{
		min-width:90% ;
	}
	.fondo{
		background-image: url(../imagenes/quierovendernaturacom-movil.jpg);
	}
  
}

$font-family-sans-serif:'Montserrat', sans-serif;

$primary: #fbaf7e;
$secondary: #FFFCF6;
$success: #cccccc;

@import "../node_modules/bootstrap/scss/bootstrap";